<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <form action="{% url 'delete_task' task.id %}" method="post" onsubmit="return confirmDelete();">
        {% csrf_token %}
        <input type="submit" value="削除" class="btn btn-danger">
    </form>
    
    <script>
        function confirmDelete() {
            return confirm("本当に削除しますか？");
        }
    </script>
</body>
</html>