{% load static %}
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="display-4 text-primary">{{title}}</h1>
    <br>
    <table class="table">
        <tr>
            <th>id</th><td>{{item.id}}</td>
            <th>title</th><td>{{item.title}}</td>
            <th>work</th><td>{{item.work}}</td>
            <th>boundary</th><td>{{item.boundary}}</td>
            <th>category</th><td>{{item.category}}</td>
            <th>reception_date</th><td>{{item.reception_date}}</td>
            <th>due_date</th><td>{{item.due_date}}</td>
            <th>work_progress</th><td>{{item.work_progress}}</td>
            <th>option</th><td>{{item.option}}</td>
        </tr>
        <form action="{% url 'edit_task' id %}" method="post">
        {% csrf_token %}
            <tr><th></th><td>
                <input type="submit" value="編集" class="btn btn-primary">
            </td></tr>
        </form>
    </table>
</div>
{% endblock %}