{% extends 'base.html' %}
{% load static %}

{% block content %}  
    <div class="mb-5">
        <h1>{{title}}</h1>
        <br>
        <table class="table">
            <tr><th>担当者</th><td>{{ task.owner.first_name }}{{ task.owner.last_name }}</td></tr>
            <tr><th>業務名</th><td>{{ task.title }}</td></tr>
            <tr><th>業務内容</th><td>{{ task.work }}</td></tr>
            <tr><th>外部/内部</th><td>{{ task.boundary }}</td></tr>
            <tr><th>種類</th><td>{{ task.category }}</td></tr>
            <tr><th>受付日</th><td>{{ task.reception_date|date:"Y年m月d日" }}</td></tr>
            <tr><th>処理期日</th><td>{{ task.due_date|date:"Y年m月d日" }}</td></tr>
            <tr><th>進捗</th><td>{{ task.work_progress }}</td></tr>
            <tr><th>完了日</th><td>{{ task.completion_date }}</td></tr>
            <tr><th>備考</th><td>{{ task.option }}</td></tr>
        
        </table>
        <div class="mt-5 d-flex justify-content-center">
            <a href="{% url 'edit_task' task.id %}" class="btn btn-info btn-lg mr-2">編集</a>
            <!-- タスク削除ボタンを含める -->
            {% include 'task_app/delete_task.html' %}
        </div>
        <div class="text-center mt-5">            
            <a href="{% url 'task_list' %}" class="btn btn-outline-dark btn-lg" style="min-width: 200px;">一覧へ戻る</a>
        </div>
    </div>


    <!-- コメント一覧 -->
    <div class="mt-4">
        <h2><span>コメント一覧</span></h2>
        {% for comment in comments %}
        <div class="comment-post">
                <p><span class="font-weight-bold text-info">{{ comment.owner_user.username }}</span><span class="text-muted small">（{{ comment.pub_date|date:"Y年m月d日 H:i" }}）</span></p>
                <div>{{ comment.comment }}</div>
        </div>
        {% empty %}
            <p>コメントはまだありません。</p>
        {% endfor %}
    </div>

    <!-- コメント送信 -->
    <div>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark btn-lg">コメントを送信</button>
        </form>
    </div>

{% endblock %}