
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ title }}</h1> 
        <table class="table">
            <tr>
                <th>ID</th>
                <th>担当者</th>
                <th>業務名</th>
                <th>外部/内部</th>
                <th>種類</th>
                <th>期日</th>
                <th>未/済</th>
                <th></th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.owner.first_name }}{{ task.owner.last_name }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.boundary }}</td>
                    <td>{{ task.category }}</td>
                    <td>{{ task.due_date|date:"Y年m月d日" }}</td>
                    <td>{{ task.work_progress }}</td>
                    <td><a href="{% url 'detail_task' task.id %}"class="btn btn-outline-dark">詳細</a></td>
                    <td><a href="{% url 'edit_task' task.id %}" class="btn btn-info">編集</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">タスクがありません。</td>
                </tr>
            {% endfor %}
        </table>

        <br>
        <ul class="pagination justify-content-center">
            {% if tasks.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'task_list' %}?page=1">&laquo; first</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'task_list' %}?page={{ tasks.previous_page_number }}">&laquo; prev</a>
                </li>
            {% endif %}

            <li class="page-item">
                <span class="page-link">
                    {{ tasks.number }}/{{ tasks.paginator.num_pages }}
                </span>
            </li>

            {% if tasks.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'task_list' %}?page={{ tasks.next_page_number }}">next &raquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'task_list' %}?page={{ tasks.paginator.num_pages }}">last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
