
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="display-4 text-primary">{{ title }}</h1> 
        <table class="table">
            <tr>
                <th>ID</th>
                <th>担当者</th>
                <th>業務名</th>
                <th>範囲</th>
                <th>種類</th>
                <th>期日</th>
                <th>未/済</th>
                <th></th>
            </tr>
            {% for item in tasks %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.owner.username }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.boundary }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.work_progress }}</td>
                    <td><a href="{% url 'edit_task' item.id %}" class="btn btn-primary">詳細</a></td>
                    <td><a href="{% url 'edit_task' item.id %}" class="btn btn-success">編集</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">タスクがありません。</td>
                </tr>
            {% endfor %}
        </table>

        <br>
        <ul class="pagination justify-content-center">
            {% if tasks.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'task_list' %}?page=1">&laquo; first</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'task_list' %}?page={{ tasks.previous_page_number }}">&laquo; prev</a>
                </li>
            {% endif %}

            <li class="page-item">
                <span class="page-link">
                    {{ tasks.number }}/{{ tasks.paginator.num_pages }}
                </span>
            </li>

            {% if tasks.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'task_list' %}?page={{ tasks.next_page_number }}">next &raquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'task_list' %}?page={{ tasks.paginator.num_pages }}">last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
